@import '../../styles/variables';
@import '../../styles/size';

.form {
  padding: 0 5px 0 5px;
  width: 263px;

  @include size(tablet) {
    width: 563px;
  }
}

.titleForm {
  margin-bottom: 15px;
  font-size: 25px;
  color: $primery-font;
  line-height: 26px;

  @include size(tablet) {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 52px;
  }
}

.label {
  display: block;
  width: 100%;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 11px 26px 10px 26px;
  border: 1px solid $cl-border;
  border-radius: 10px;

  &::placeholder {
    font-size: 12px;
    line-height: 26px;
    font-weight: 300;
    color: $plch-font;

    @include size(tablet) {
      font-size: 18px;
      line-height: 32.4px;
      font-weight: 400;
    }
  }

  @include size(tablet) {
    padding: 31px 46px 30px 46px;
  }
}

.textarea {
  display: block;
  width: 100%;
  margin-bottom: 23px;
  padding: 11px 26px 10px 26px;
  border: 1px solid $cl-border;
  border-radius: 10px;

  &::placeholder {
    font-size: 12px;
    line-height: 26px;
    font-weight: 300;
    color: $plch-font;

    @include size(tablet) {
      font-size: 18px;
      line-height: 32.4px;
      font-weight: 400;
    }
  }

  @include size(tablet) {
    padding: 31px 46px 30px 46px;
  }
}
