@import '../../styles/size';

.Container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  padding: 11px 5px 7px 5px;

  @include size(tablet) {
    padding: 19px 29px 14px 29px;
  }

  @include size(desktop) {
    padding: 179px 150px 174px 150px;
  }
}
